body {
  display: block;

  width: 40px;
}

.container {
  display: inline-block;
  font-family: sans-serif;
  background-color: #daffda;
  padding: 10px;
}

.inputDiv {
  background: #5a6ea2;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  align-items: center;
  width: auto;
  margin: auto;
}

.inputel {
  margin: 15px;
  margin-right: 10px;
  height: 20px;
  width: 110px;
  font-size: 14px;
}

.inputDiv button {
  height: 25px;
  background: linear-gradient(to bottom right, #929292, #e6e6e6);
  color: #333333;
  font-size: 16px;
}

.inputDiv button:hover {
  height: 25px;
  background: linear-gradient(to bottom right, #a5a5a5, #e6e6e6);
  color: #111111;
  cursor: pointer;
  box-shadow: 1px 1px gray;
  font-size: 16px;
}


#totalsTable {
  background-color: #8edad4;
}


table {
  border-collapse: collapse;
  width: 100%;
  background-color: #d1e8e8;
  margin-top: 10px
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #a3d1d1;
}

th {
  background-color: #8abda6;
  color: white;
  font-size: 18px;
}

.removeBtn {
  position: relative;
  top: 6px;
  background: linear-gradient(to bottom right, #ffffff,  #d1d1d1);
  color: black;
}

.removeBtn:hover {
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px gray;
  background: linear-gradient(to bottom right, #fb89a7,  #ff75a3);
  color: white;
}

p {
  display: inline;
  font-size: 17px;
}
